{% extends "layout.html" %}

{% block title %}
    Food
{% endblock %}

{% block main %}
<div class="jumbotronfood">
    <h1>Food Products</h1>
</div>
    <div class="page">
        {% for book in food %}
        <h2>{{ book.name }}</h2><h5>{{ book.description }}</h5><h5>{{ book.quantity }} kg</h5><h3>{{ book.price | usd}}</h3>
        <form action="/cart" method="post">
            <input name="id" type="hidden" value="{{ book.productid }}">
            <input class="btn btn-primary" type="submit" value="Add to Cart">
            <hr>
        </form>
        {% endfor %}
    </div>



{% endblock %}