{% extends "layout.html" %}

{% block title %}
    Training
{% endblock %}

{% block maino %}
<div class="jumbotrontrainingindex">
  <div class="container-fluid" class="mx-auto">
    <!-- <h1>Training Products</h1> -->
      <img src="/static/images/PngItem_64682.png"  width="140" height="100" class="rounded float-left" alt="Responsive image">
      <img src="/static/images/PngItem_1941290.png"  width="150" height="150" class="rounded float-left" alt="Responsive image">
      <img src="/static/images/PinClipart.com_potty-clip-art_3012390.png"  width="120" height="170" class="rounded float-left" alt="Responsive image">
      <img src="/static/collar.png" width="210" height="200" class="img-fluid" alt="Responsive image">
      <img src="/static/images/PngItem_1561849.png"  width="150" height="150" class="rounded float-right" alt="Responsive image">
      <img src="/static/images/PngItem_3113926.png"  width="150" height="150" class="rounded float-right" alt="Responsive image">
      <img src="/static/images/PngItem_3113984.png"  width="150" height="150" class="rounded float-right" alt="Responsive image">
      <h1> <li ><a style ="color: #fff;" href="/training">Training Products</a> </li></h1>

    </div>
</div>
<div class="jumbotronfoodindex"><p>
  <img src="/static/images/PngItem_1006198.png"  width="300" height="140" class="rounded float-left" alt="Responsive image">
  <img src="/static/images/PngItem_5568167.png"  width="100" height="150" class="rounded float-left" alt="Responsive image">
  <img src="/static/YourPng.com - 782x700.png" width="100" height="100" class="img-fluid" alt="Responsive image">
  <img src="/static/images/PngItem_3438454.png"  width="150" height="170" class="rounded float-right" alt="Responsive image">
  <img src="/static/images/PngItem_4470946(1).png"  width="150" height="150" class="rounded float-right" alt="Responsive image">
  <img src="/static/images/PngItem_2469602.png"  width="170" height="170" class="rounded float-right" alt="Responsive image">
          <h1> <li ><a style ="color: #fff;" href="/food">Food Products</a> </li></h1>
          </p><p></p>
</div>
<div class="jumbotronaccessindex"><p>
    <img src="/static/images/pngwing.com(2).png"  width="150" height="170" class="rounded float-left" alt="Responsive image">
    <img src="/static/images/PngItem_3255154.png"  width="200" height="120" class="rounded float-left" alt="Responsive image">
    <img src="/static/images/brush.png"  width="140" height="170" class="rounded float-left" alt="Responsive image">
  <img src="/static/images/PngItem_4945518.png" width="150" height="150" class="img-fluid" alt="Responsive image">
      <img src="/static/images/PngItem_3469349.png"  width="200" height="120" class="rounded float-right" alt="Responsive image">
      <img src="/static/images/pngwing.com.png"  width="150" height="165" class="rounded float-right" alt="Responsive image">
      <img src="/static/images/PngItem_2782298.png"  width="200" height="120" class="rounded float-right" alt="Responsive image">
          <h1> <li ><a style ="color: #fff;" href="/accessories">Accessories</a> </li></h1>
          </p><p></p>
</div>
{% endblock %}